.auth {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* display: flex; */
  justify-content: center;
  /* align-content: space-between; */
  align-items: center;
  flex-direction: column;
}

.auth__banner,
.auth__form {
  max-width: 400px;
}

@media screen and (max-width: 768px) {

  .auth__banner,
  .auth__form {
    width: 100%;
    margin-bottom: 30px;
  }

  .auth__banner:last-child,
  .auth__form:last-child {
    margin-bottom: 0;
  }
}

.form-item .error {
  /* display: none; */
  margin-bottom: 8px;
  font-size: 13.4px;
  color: #fc5c65;
}

.form-item.errorInput .error {
  display: block;
}

input.error {
  border-color: #fc5c65;
  animation: shake 0.3s;
}

.buttons-list {
  text-align: right;
  margin-bottom: 20px;
}

.buttons-list.buttons-list--info {
  text-align: center;
}

.buttons-list.buttons-list--info:last-child {
  margin-bottom: 0;
}

a {
  color: #444ce0;
}

.info.error {
  max-width: 400px;
}

.infoReset{
  margin-bottom: 10px;
  text-align: center;
}
/* input.error {
  border: 1px solid #ff0000;
}

label.error {
  color: #ff0000;
  font-weight: normal;
} */